<div class="row bg-dark">
    <div class="col-12">
        <nav
            class="navbar navbar-expand-lg navbar-dark d-flex align-items-center">
            <div class="container">
                <p class="netflix-logo mb-0">NETFLIX ADMIN</p>
            </div>
        </nav>
    </div>
</div>