<div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable modal-fullscreen-md-down">
    <div class="modal-content bg-dark text-white border-secondary">
      <div class="modal-header border-secondary">
        <h5 class="modal-title" id="settingsModalLabel">Account Settings</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pt-0">
        <div class="pt-2" id="settingsTabsContent">
          <div id="statsTab" role="tabpanel" aria-labelledby="stats-tab">
            <div class="row g-4">
              <div class="col-lg-6">
                <div class="card bg-black border-secondary h-100">
                  <div class="card-header border-secondary py-2">
                    <strong class="text-white">Daily Watches Per Profile (Last 7 Days)</strong>
                  </div>
                  <div class="card-body">
                    <canvas id="dailyWatchesChart" height="220"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card bg-black border-secondary h-100">
                  <div class="card-header border-secondary py-2">
                    <strong class="text-white">Content Popularity</strong>
                  </div>
                  <div class="card-body">
                    <canvas id="contentPopularityChart" height="220"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <script src="/scripts/settings.js"></script>
          </div>
        </div>
      </div>
      <div class="modal-footer border-secondary">
        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>