.dropdown-menu {
    padding: 0;
    border: none;
    background-color: transparent;
    min-width: auto;
  }

  .dropdown-item.text-white:hover {
    background-color: rgba(255, 255, 255, 0.04);
  }

  .dropdown-item {
    padding: 8px 0 !important;
    margin: 0 !important;
    text-align: center;
    display: block;
    border: none;
  }

  .dropdown-item img {
    width: 40px;
    height: 28px;
    border: none;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
  }