<!-- Gilad-Tidhar-325767929-Rotem-Batstein-325514917-Shani-Bashari-325953743 -->

<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', { extraCss: `
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    rel="stylesheet"
    />
    <link href="/style/like_button.css" rel="stylesheet" />
    <link href="/style/navbar.css" rel="stylesheet" />
    <link href="/style/dropdown.css" rel="stylesheet" />
    <link href="/style/content.css" rel="stylesheet" />
  
  <style>
    body {
      margin: 0;
      background-color: #000;
    }

    .profile-img {
      width: 35px;
      height: 32px;
      border-radius: 4px;
    }
    .icon-btn {
      color: white;
      margin-left: 15px;
      font-size: 1.2rem;
      cursor: pointer;
    }
  </style>
  ` }) %>

<body>
  <%- include('partials/navbar') %>
  <div id="content" class="container py-4"></div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/scripts/movies.js"></script>
  <script src="/scripts/login_handler.js"></script>
  <script src="/scripts/utils.js"></script>
  <script src="/scripts/likes_manager.js"></script>
  <script src="/scripts/card_renderer.js"></script>
  <script src="/scripts/row_renderer.js"></script>
  <script src="/scripts/content_renderer.js"></script>
  <script src="/scripts/search.js"></script>
  <script src="/scripts/init.js"></script>
</body>

</html>
